<% layout('layouts/boilerplate')%>
<h1 class="mb-4">All Campgrounds</h1>
<a href="/campgrounds/new"><button class="mb-4 btn btn-success">Add New Campground</button></a>
<div>
  <% for (let camp of campgrounds){ %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4 d-flex p-3">
        <img class="img-fluid" alt="" src="<%=camp.image[0].url%>" height="200" width="300" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%=camp.title%></h5>
          <p class="card-test"><%=camp.description%></p>
          <p class="card-text text-dark text-opacity-50"><%=camp.location%></p>
          <a href="campgrounds/<%=camp._id%>" class="btn btn-primary"><%=camp.title%></a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
